<h1>Editing diary_day</h1>

<%= render 'form' %>

<%= link_to 'Show', account_character_diary_day_path(@character, @diary_day) %> |
<%= link_to 'Back', account_character_diary_days_path(@character) %>
